<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCslFuqqUn7BWS5TIaNzmE9ZVvzVD3PJlU</string>
	<key>GCM_SENDER_ID</key>
	<string>986529406150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteit</string>
	<key>PROJECT_ID</key>
	<string>noteit-4d8ee</string>
	<key>STORAGE_BUCKET</key>
	<string>noteit-4d8ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986529406150:ios:2d7a8f26d8d8b4f6e78bc7</string>
</dict>
</plist>